@font-face {
  font-family: MGS1;
  src: url(mgsfont/METAG___.TTF)
}

.mgs-font{
  font-family: MGS1;
}

body{
  font-family: sans-serif;
  background-color: #404040;
  color:silver;
  padding:0px;
  margin:0px;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}

.title-bar{
  padding-top:10px;
  padding-left:10px;
  padding-right:10px;
}

.dialog{
  display: flex;

  div {
    font-variant: small-caps;
    display: inline-block;
    width: 10%;
  }
  span {
    display: inline-block;
    width: 85%;
  }
}

.pointer {
  cursor: pointer;
}

.chapter-title-component {
  margin:0px;
  text-align:left;
  padding-left:10px;
  color:#9c1212;
  background-color:lightslategrey;

  .chapter-title-span {
    margin-left:10px;
  }
}

.filter-button {
  cursor: pointer;
  font-size: 0.5em;
  color: blue;
  padding-left: 0.5em;
}

.title-component {
  width:100%;
  background-color:black;
  font-size:32px;
  position:fixed;
  top:0px;
  height:70px;

  .title {
    text-align:center;
    position:absolute;
    left:35px;
    font-family:"MGS1";
    color:#f44336;
    padding-top:15px;
  }

  .menu {
    cursor:pointer;
    text-align:right;
    position:absolute;
    right:35px;
    top:15px;
  }

  .input {
    margin-left:400px;
    color:gray;
    background-color:transparent;
    margin-top:15px;
    height:23px;
  }
}

.title-menu-component {
  background-color:#844c4c;
  border:1px solid;
  font-size:5vh;
  text-align:left;

  .list {
    list-style: none;
  }

  .point {
    list-style-type: none;
  }
}
