@font-face {
  font-family: MGS1;
  src: url(mgsfont/METAG___.TTF)
}

@import './header.scss';

.mgs-font{
  font-family: MGS1;
}

body{
  font-family: sans-serif;
  background-color: #404040;
  color:silver;
  padding:0px;
  margin:0px;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}

.title-bar{
  padding-top:10px;
  padding-left:10px;
  padding-right:10px;
}

.dialog{
  display: flex;

  div {
    font-variant: small-caps;
    display: inline-block;
    width: 10%;
  }
  span {
    display: inline-block;
    width: 85%;
  }
}

.pointer {
  cursor: pointer;
}

.chapter-title-component {
  margin:0px;
  text-align:left;
  padding-left:10px;
  color:#9c1212;
  background-color:lightslategrey;

  .chapter-title-span {
    margin-left:10px;
  }
}

.filter-button {
  cursor: pointer;
  font-size: 0.5em;
  color: blue;
  padding-left: 0.5em;
}
