@font-face {
  font-family: MGS1;
  src: url(mgsfont/METAG___.TTF)
}

.mgs-font{
  font-family: MGS1;
}

body{
  font-family: sans-serif;
  background-color: #404040;
  color:silver;
  padding:0px;
  margin:0px;
}

.title-body{

}

.title-bar{
  padding-top:10px;
  padding-left:10px;
  padding-right:10px;
}

.dialog{
  display: flex;

  div {
    font-variant: small-caps;
    display: inline-block;
    width: 10%;
  }
  span {
    display: inline-block;
    width: 85%;
  }
}
